*.py[cod]
*.*~
.#*
*#*#
.DS_Store
*.txt
!LICENSE.txt
*.pdf
.~lock.*
local.py
example_site/static
html
shared
uploads
logs/*.log*
old

# C extensions
*.so

# Packages
/*.egg
/*.egg-info
dist
htmlcov
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
