language: python

python:
  - "3.5"
  - "3.6"
  - "3.7"

sudo: false

addons:
  postgresql: "10"

before_script:
  - psql -U postgres template1 -f db/create_schema.ddl

# Command to install dependencies
install: "pip install -r requirements/travis.txt"

# Command to setup Django, database, and run tests
script:
  - (cd example_site/settings/; ln -s travis.py local.py)
  - python manage.py migrate
  - make tests TEST_ARGS=--parallel=0

after_success:
  - coveralls 
