{% extends "base.html" %}
{% load url from future %}
{% load autodisplay %}
{% block title %}Author Detail{% endblock %}
{% block header %}
  <div class="header">
    <h2>Author Detail</h2>
    <div class="dashboard">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'book-create' %}">Create Book</a></li>
        <li><a href="{% url 'publisher-create' %}">Create Publisher</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="wrapper">
      <div class="actions">
{% spaceless %}
{% if actions %}
        <ul>
{% for action in actions %}
          <li><a href="{{ action.url }}">{{ action.name }}</a></li>
{% if not forloop.last %}
          <li><span>,&nbsp;&nbsp;</span></li>
{% endif %}
{% endfor %}
        </ul>        
{% endif %}
{% endspaceless %}
      </div>
      <div class="container">
        <div class="message">
{% if info_message.created %}
          <div>The record has been created and is displayed below.</div>
{% elif info_message.updated %}
          <div>The record has been updated and is displayed below.</div>
{% endif %}
        </div>
        <div class="dynamic-container top-container">
          <ul>
            <li>
              <label>Name</label>
              <span>{{ object.name }}</span>
            </li>
{% for relation in relations.values %}
{% if relation.location == css.top %}
            <li>
              <label>{{ relation.name }}</label>
              {% auto_display relation options=dynamicColumns display=True %}
            </li>
{% endif %}
{% endfor %}
          </ul>
        </div>
        <div class="dynamic-container center-container">
          <ul>
{% for relation in relations.values %}
{% if relation.location == css.center %}
            <li>
              <label>{{ relation.name }}</label>
              {% auto_display relation options=dynamicColumns display=True %}
            </li>
{% endif %}
{% endfor %}
          </ul>
        </div>
        <div class="dynamic-container bottom-container">
          <ul>
{% for relation in relations.values %}
{% if relation.location == css.bottom %}
            <li>
              <label>{{ relation.name }}</label>
              {% auto_display relation options=dynamicColumns display=True %}
            </li>
{% endif %}
{% endfor %}
          </ul>
        </div>
      </div> <!-- div.container -->
  </div> <!-- div.wrapper -->
{% endblock %}
