{% extends "base.html" %}
{% load autodisplay %}
{% block title %}Book List{% endblock %}
{% block head_extras %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/list_views.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/list_pagination.css">
{% endblock %}
{% block header %}
  <div class="header">
    <h2>Book List</h2>
    <div class="dashboard">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'author-list' %}">Author List</a></li>
        <li><a href="{% url 'publisher-list' %}">Publisher List</a></li>
        <li><a href="{% url 'promotion-list' %}">Promotion List</a></li>
       </ul>
    </div>
  </div>
{% endblock %}
{% block content %}
{% if object_list %}
  <div class="wrapper">
{% if is_paginated %}
    <div class="actions">
      <div class="list-pagination">
        <ul>{% if page_obj.has_next %}
          <li>
            <a href="{{ uri }}?page={{ paginator.page_range|length }}">>></a>
          </li>
          <li>
            <a href="{{ uri }}?page={{ page_obj.next_page_number }}">></a>
          </li>{% else %}<li>&nbsp;</li><li>&nbsp;</li>{% endif %}
          <li class="list-pagination middle">
            Page {{ page_obj.number }} of {{ paginator.page_range|length }}
          </li>{% if page_obj.has_previous %}
          <li>
            <a href="{{ uri }}?page={{ page_obj.previous_page_number }}"><</a>
          </li>
          <li>
            <a href="{{ uri }}?page={{ paginator.page_range.0 }}"><<</a>
          </li>{% else %}<li>&nbsp;</li><li>&nbsp;</li>{% endif %}
        </ul>
      </div>
    </div>
{% endif %}
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>SKU</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Edition</th>
            <th>Published Date</th>
            <th>Copyright Year</th>
            <th>ISBN-10</th>
            <th>ISBN-13</th>
            <th>Language</th>
            <th>Promotion</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody>
{% for object in object_list %}
          <tr>
            <td>
              <a href="{% url 'book-detail' object.id %}">{{ object.title }}</a>
            </td>
{% single_display object book_sku as sku %}
            <td style="text-align: right;">{{ sku }}</td>
{% single_display object author as author %}
            <td>{{ author }}</td>
{% single_display object publisher as publisher %}
            <td>{{ publisher }}</td>
{% single_display object edition as edition %}
            <td style="text-align: right;">{{ edition }}</td>
{% single_display object published_date as pdate %}
            <td style="text-align: right;">{{ pdate|date:"Y-m-d" }}</td>
{% single_display object copyright_year as cyear %}
            <td style="text-align: right;">{{ cyear }}</td>
{% single_display object isbn10 as isbn10 %}
            <td>{{ isbn10 }}</td>
{% single_display object isbn13 as isbn13 %}
            <td>{{ isbn13 }}</td>
{% single_display object language as language %}
            <td>{{ language }}</td>
{% single_display object promotion as promotion %}
            <td>{{ promotion }}</td>
            <td>{{ object.active|yesno }}</td>
          </tr>
{% endfor %}
        </tbody>
      </table>
    </div> <!-- div.container -->
{% if is_paginated %}
    <div class="actions">
      <div class="list-pagination">
        <ul>{% if page_obj.has_next %}
          <li>
            <a href="{{ uri }}?page={{ paginator.page_range|length }}">>></a>
          </li>
          <li>
            <a href="{{ uri }}?page={{ page_obj.next_page_number }}">></a>
          </li>{% else %}<li>&nbsp;</li><li>&nbsp;</li>{% endif %}
          <li class="list-pagination middle">
            Page {{ page_obj.number }} of {{ paginator.page_range|length }}
          </li>{% if page_obj.has_previous %}
          <li>
            <a href="{{ uri }}?page={{ page_obj.previous_page_number }}"><</a>
          </li>
          <li>
            <a href="{{ uri }}?page={{ paginator.page_range.0 }}"><<</a>
          </li>{% else %}<li>&nbsp;</li><li>&nbsp;</li>{% endif %}
        </ul>
      </div>
    </div>
{% endif %}
  </div> <!-- div.wrapper -->
{% endif %}
{% endblock %}
