{% extends "base.html" %}
{% load url from future %}
{% load autodisplay %}
{% block title %}Test Dynamic Columns{% endblock %}
{% block head_extras %}{% endblock %}
{% block content %}
  <h2>Test Dynamic Columns</h2>
  <div class="wrapper">
{% if object %}
    <form name="book-update" method="post"
          action="{% url 'book-update' object.pk %}">
{% else %}
    <form name="book-update" method="post"
          action="{% url 'book-create' %}">
{% endif %}
      <div class="container">
        {% csrf_token %}
        <div id="message">
{% if form.errors %}
          <ul class="errorlist">
            <li>Invalid data, please see below for details.</li>
          </ul>
{% endif %}
        </div>
        <div class="dynamic-container top-container">
          <ul>
            <li>
              {{ form.title.label_tag }}
              {{ form.title.as_widget }}
              {{ form.title.errors }}
            </li>
{% for relation in relations.values %}
{% if relation.location == css.top %}
            <li>
              <label for="id-{{ relation.slug }}">{{ relation.name }}</label>
              {% auto_display relation options=dynamicColumns %}
              {% combine_contexts form.errors relation.slug %}
            </li>
{% endif %}
{% endfor %}
          </ul>
        </div>
        <div class="dynamic-container center-container">
          <ul>
{% for relation in relations.values %}
{% if relation.location == css.center %}
            <li>
              <label for="id-{{ relation.slug }}">{{ relation.name }}</label>
              {% auto_display relation options=dynamicColumns %}
              {% combine_contexts form.errors relation.slug %}
            </li>
{% endif %}
{% endfor %}
          </ul>
        </div>
        <div class="dynamic-container bottom-container">
          <ul>
{% for relation in relations.values %}
{% if relation.location == css.bottom %}
            <li>
              <label for="id-{{ relation.slug }}">{{ relation.name }}</label>
              {% auto_display relation options=dynamicColumns %}
              {% combine_contexts form.errors relation.slug %}
            </li>
{% endif %}
{% endfor %}
          </ul>
        </div>
      </div> <!-- div.container -->
      <div id="submit">
{% if object %}
        <button type="submit"
                class="book-submit"
                uri="{% url 'book-update' object.pk %}">Update</button>
{% else %}
        <button type="submit"
                class="book-submit"
                uri="{% url 'book-create' %}">Save</button>
{% endif %}
      </div> <!-- div#submit -->
    </form>
  </div> <!-- div.wrapper -->
{% endblock %}
