{% extends "base.html" %}
{% load autodisplay %}
{% block title %}Book List{% endblock %}
{% block head_extras %}{% endblock %}
{% block header %}
  <div class="header">
    <h2>Book List</h2>
    <div class="dashboard">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'author-create' %}">Create Author</a></li>
        <li><a href="{% url 'publisher-create' %}">Create Publisher</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
{% block content %}
{% if object_list %}
  <div class="wrapper">
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>SKU</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Edition</th>
            <th>Published Date</th>
            <th>Copyright Year</th>
            <th>ISBN-10</th>
            <th>ISBN-13</th>
            <th>Language</th>
            <th>Promotion</th>
          </tr>
        </thead>
        <tbody>
{% for object in object_list %}
          <tr>
            <td>
              <a href="{% url 'book-detail' object.id %}">{{ object.title }}</a>
            </td>
{% single_display object stock-unit-id as sku %}
            <td>{{ sku }}</td>
{% single_display object author as author %}
            <td>{{ author }}</td>
{% single_display object publisher as publisher %}
            <td>{{ publisher }}</td>
{% single_display object edition as edition %}
            <td>{{ edition }}</td>
{% single_display object published-date as pdate %}
            <td>{{ pdate }}</td>
{% single_display object copyright-year as cyear %}
            <td>{{ cyear }}</td>
{% single_display object isbn-10 as isbn10 %}
            <td>{{ isbn10 }}</td>
{% single_display object isbn-13 as isbn13 %}
            <td>{{ isbn13 }}</td>
{% single_display object language as language %}
            <td>{{ language }}</td>
{% single_display object promotion as promotion %}
            <td>{{ promotion }}</td>
          </tr>
{% endfor %}
        </tbody>
      </table>
    </div> <!-- div.container -->
  </div> <!-- div.wrapper -->
{% endif %}
{% endblock %}
