{% extends "base.html" %}
{% load autodisplay %}
{% block title %}Book List{% endblock %}
{% block head_extras %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/list_views.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/list_pagination.css">
{% endblock %}
{% block header %}
  <div class="header">
    <h2>Book List</h2>
    <div class="dashboard">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'author-create' %}">Create Author</a></li>
        <li><a href="{% url 'publisher-create' %}">Create Publisher</a></li>
        <li><a href="{% url 'book-create' %}">Create Book</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
{% block content %}
{% if object_list %}
  <div class="wrapper">
{% if is_paginated %}
    <div class="actions">
      <div class="list-pagination">
        <ul>{% if page_obj.has_next %}
          <li>
            <a href="{{ uri }}?page={{ paginator.page_range|length }}">>></a>
          </li>
          <li>
            <a href="{{ uri }}?page={{ page_obj.next_page_number }}">></a>
          </li>{% else %}<li>&nbsp;</li><li>&nbsp;</li>{% endif %}
          <li class="list-pagination middle">
            Page {{ page_obj.number }} of {{ paginator.page_range|length }}
          </li>{% if page_obj.has_previous %}
          <li>
            <a href="{{ uri }}?page={{ page_obj.previous_page_number }}"><</a>
          </li>
          <li>
            <a href="{{ uri }}?page={{ paginator.page_range.0 }}"><<</a>
          </li>{% else %}<li>&nbsp;</li><li>&nbsp;</li>{% endif %}
        </ul>
      </div>
    </div>
{% endif %}
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Active</th>
         </tr>
        </thead>
        <tbody>
{% for object in object_list %}
          <tr>
            <td>
              <a href="{% url 'promotion-detail' object.id %}">
                {{ object.name }}
              </a>
            </td>
            <td>{{ object.description }}</td>
            <td>{{ object.start_date|date:"Y-m-d" }}</td>
            <td>{{ object.end_date|date:"Y-m-d" }}</td>
            <td>{{ object.active|yesno }}</td>
          </tr>
{% endfor %}
        </tbody>
      </table>
    </div> <!-- div.container -->
{% if is_paginated %}
    <div class="actions">
      <div class="list-pagination">
        <ul>{% if page_obj.has_next %}
          <li>
            <a href="{{ uri }}?page={{ paginator.page_range|length }}">>></a>
          </li>
          <li>
            <a href="{{ uri }}?page={{ page_obj.next_page_number }}">></a>
          </li>{% else %}<li>&nbsp;</li><li>&nbsp;</li>{% endif %}
          <li class="list-pagination middle">
            Page {{ page_obj.number }} of {{ paginator.page_range|length }}
          </li>{% if page_obj.has_previous %}
          <li>
            <a href="{{ uri }}?page={{ page_obj.previous_page_number }}"><</a>
          </li>
          <li>
            <a href="{{ uri }}?page={{ paginator.page_range.0 }}"><<</a>
          </li>{% else %}<li>&nbsp;</li><li>&nbsp;</li>{% endif %}
        </ul>
      </div>
    </div>
{% endif %}
  </div> <!-- div.wrapper -->
{% endif %}
{% endblock %}
