{% extends "base.html" %}
{% load autodisplay %}
{% block title %}Publisher{% endblock %}
{% block head_extras %}{% endblock %}
{% block header %}
  <div class="header">
    <h2>Publisher</h2>
    <div class="dashboard">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'author-create' %}">Create Author</a></li>
        <li><a href="{% url 'book-create' %}">Create Book</a></li>
        <li><a href="{% url 'promotion-create' %}">Create Promotion</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="wrapper">
{% if object %}
    <form name="publisher-update" method="post"
          action="{% url 'publisher-update' object.pk %}">
{% else %}
    <form name="publisher-update" method="post"
          action="{% url 'publisher-create' %}">
{% endif %}
      <div class="container">
        {% csrf_token %}
        <div id="message">
{% if form.errors %}
          <ul class="errorlist">
            <li>Invalid data, please see below for details.</li>
          </ul>
{% endif %}
        </div>
        <div class="dynamic-container {{ css.top }}">
          <ul>
            <li>
              {{ form.name.label_tag }}
              {{ form.name.as_widget }}
              {{ form.name.errors }}
            </li>
{% for relation in relations.values %}
{% if relation.location == css.top %}
            <li>
              <label for="id-{{ relation.slug }}">{{ relation.name }}</label>
              {% auto_display relation options=dynamicColumns %}
              {% combine_contexts form.errors relation.slug %}
            </li>
{% endif %}
{% endfor %}
          </ul>
        </div>
        <div class="dynamic-container {{ css.center }}">
          <ul>
{% for relation in relations.values %}
{% if relation.location == css.center %}
            <li>
              <label for="id-{{ relation.slug }}">{{ relation.name }}</label>
              {% auto_display relation options=dynamicColumns %}
              {% combine_contexts form.errors relation.slug %}
            </li>
{% endif %}
{% endfor %}
            <li>
              {{ form.active.label_tag }}
              {{ form.active.as_widget }}
              {{ form.active.errors }}
            </li>
          </ul>
        </div>
      </div> <!-- div.container -->
      <div class="actions">
{% if object %}
        <button type="submit"
                class="pubisher-submit"
                formaction="{% url 'publisher-update' object.pk %}">
          Update</button>
{% else %}
        <button type="submit"
                class="publisher-submit"
                formaction="{% url 'publisher-create' %}">Save</button>
{% endif %}
      </div> <!-- div.actions -->
    </form>
  </div> <!-- div.wrapper -->
{% endblock %}
