<!DOCTYPE html>
{% load url from future %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Django Tests{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}css/common.css">
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}css/jquery-ui-1.10.3.custom.css">
    <script src="{{ STATIC_URL }}dcolumn/js/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.ui.combobox.js"></script>
    <script src="{{ STATIC_URL }}js/link-jquery-tools.js"></script>
    {% block head_extras %}{% endblock %}
  </head>
<body>
{% block header %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
